/* TSR Page Styling */
.tsr-method-page {
  display: flex;
}

.toc {
  width: 20%;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc li {
  margin: 20px 0 20px 0;
}

.toc a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.content-tsr {
  width: 60%;
  padding: 20px;
  text-align: justify;
}

.section-tsr {
  margin-bottom: 50px;
}

.protein-illustration {
  display: flex;
  flex-direction: column; /* Stack image and text in a single column */
  align-items: center; /* Center the content horizontally */
  gap: 20px;
  margin: 20px 0;
}

.protein-image {
  max-width: 100%; /* Make sure the image takes up the available width */
  /* height: auto; */
  max-height: 500px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.protein-description {
  width: 100%;
  color: #555;
  /* text-align: left; */
}

.protein-description h3,
.protein-description h4 {
  margin-bottom: 10px;
}

.protein-description ul {
  padding-left: 20px;
  list-style-type: disc;
}

.protein-description ul li {
  margin-bottom: 8px;
  line-height: 1.6;
}