.contact-us-container {
    padding: 50px;
    /* max-width: 800px; */
    width: 40%;
    margin: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 60px;
    border: 2px solid #ddd; /* Add frame around the form */
    border-radius: 10px; /* Rounded corners for the frame */
    background-color: #f9f9f9; /* Slight background color to make the form stand out */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px; /* Increase padding for larger input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Larger text size for better readability */
}

.form-group textarea {
    height: 200px; /* Increase height for the message box */
    resize: vertical; /* Allow resizing only vertically */
}

.submit-button {
    width: 30%; /* Fixed width for the button */
    align-self: center; /* Center the button */
    background-color: #ff6347;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.submit-button:hover {
    background-color: #ff4500;
}
