.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 1rem;
  position: sticky;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

.footer-section h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
  font-size: 0.9em; 
  font-style: italic;
}

.footer-section:hover {
  text-decoration: underline;
  color: white;
}