.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    margin: 0;
    color: #61dafb;
  }
  
  .header-logo {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 80px;
    width: 200px;
  }